{{ extends src="layouts/layout" }} 
{{ section:content }}

{{# --Stillingsikoner------------------------------------------------------------------------------------------------------------------------ #}}
<div class="grid grid-cols-4 md:grid-cols-5 gap-4 w-3/4 my-4 mx-auto border-y-2 items-start">
    {{ collection:stillinger sort_by="title" }}
    <a href="{{ url }}" class="flex flex-col items-center gap-3 p-4 text-center group transition">
        {{ if icon }}
        <div class="flex items-center justify-center rounded-full h-14 w-14 group-hover:bg-gray-200 brightness-108 transition">
            <img src="{{ icon }}" alt="{{ title }}" class="w-10 h-10">
        </div>
        {{ /if }}
        <p class="text-xs font-medium text-gray-700 leading-tight group-hover:text-blue-400 transition min-h-10 w-full min-w-16 max-w-40 text-center wrap-break-word">{{ title }}</p>
    </a>
    {{ /collection:stillinger }}
</div>

{{# --Artikler------------------------------------------------------------------------------------------------------------------------ #}}
<section class="grid justify-items-center">
    {{ collection:artikler sort_by="date" order="desc" limit="3" status="published" }}
    <div class="relative">
        <a class="rounded-2xl" href="{{ url }}">
            {{ if hero_image }}
                <img
                    class="rounded-2xl"
                    src="{{ hero_image }}"
                    alt="{{ title }}"
                />
            {{ /if }}
    
            <div>
                <p> {{date format="d. M Y"}} </p>
                <h2> {{ title }} </h2>
            </div>
        </a>  
        {{#
        <div class="absolute top-0 bottom-0 h-full bg-[#b2b2b236] opacity-0 w-full hover:opacity-100 transition">
            <p>{{ ingress }}</p>
        </div>
        #}}
    </div>
    {{ /collection:artikler }}
</section>


















{{# 
<section class="grid justify-center">
    {{ collection:artikler sort_by="date" order="desc" limit="3" status="published"
    }}
    <a
        href="{{ url }}"
        class="group flex bg-white rounded-2xl overflow-hidden hover:shadow-md transition w-full"
    >
        {{ if hero_image }}
        <img
            src="{{ hero_image }}"
            alt="{{ title }}"
            class="w-full max-h-100 object-cover"
        />
        {{ /if }}
    
        <div class="p-5">
            <p class="text-xs text-gray-400 mb-1">{{ date format="d. M Y" }}</p>
            <h2
                class="font-semibold text-gray-900 group-hover:text-teal-600 transition"
            >
                {{ title }}
            </h2>
            <p class="text-sm text-gray-500 mt-1 line-clamp-2">{{ ingress }}</p>
        </div>
    </a>
    {{ /collection:artikler }}
</section>

#}}
{{ /section:content }}