<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="bg-zinc-100 font-sans leading-normal flex justify-center">
        <div class="w-full">
        <nav>{{partial:navbar}}</nav>

        <main>{{ yield:content }}</main>

        <footer>{{ partial:footer }}</footer>
        </div>
    </body>
</html>
<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }} – Jobb med vann</title>
        {{ vite src="resources/js/app.js" }}
    </head>
    <body class="bg-background">

    </body>
</html>
